sudo: required
dist: trusty
language: python
python:
    - "2.7"
    - "3.6"

git:
    submodules: false
    depth : 1

before_install:
    - sudo apt-get -y install python3-pip python-dev
    - sudo pip3 install -U setuptools
    - sudo pip3 install -U virtualenvwrapper
    - sudo apt-get -y install sqlite3
    - python3 -V
    - pip3 -V
    - python2.7 -V
    - pip -V

script:
    # Prepare virtualenv for python2 and python3
    - virtualenv venv27 -p python2.7
    - virtualenv venv3 -p python3
    # Run as python2
    - source venv27/bin/activate
    - python setup.py install
    # Run API and kill it after 5 seconds
    - python test/test.py --config test/c.ini
    - t=$! && sleep 5 && kill $t
    - deactivate
    - source venv3/bin/activate
    - python setup.py install
    # Run API and kill it after 5 seconds
    - python test/test.py --config test/c.ini
    - t=$! && sleep 5 && kill $t
