sudo: required
dist: trusty
language: python
python:
    - "2.7"
    - "3.6"

git:
    submodules: false
    depth : 1

before_install:
    - sudo pip install -U setuptools
    - sudo pip install -U virtualenvwrapper
    - sudo apt-get -y install sqlite3
    - python -V
    - pip -V

script:
    # Prepare virtualenv for python2 and python3
    - virtualenv venv
    - source venv/bin/activate
    - python setup.py install
    # Run API and kill it after 5 seconds
    - python test/test.py --config test/c.ini &
    - t=$! && sleep 5 && kill $t
